$primary: #800020;
$grey: #2A2E2F;
$black: #000A0A;
$blue: #BEDCE4;
$blue-2: #F8FBFC;
$light-blue: #E9F3F6;
$light-green: #CDEAEC;
$light-red: #FFF8F7;
$red-1: #FFE9E7;
$green: #003D40;
$grey-2: #535C5F;
$grey-3: #7E8A8D;
$grey-4: #FFFDF3;
$grey-5: #808484;
$grey-6: #333B3B;
$grey-7: #E5E7E7;
$neutral: #151718;
$neutral-2: #FBFBFB;