$primary: #03989E;
$grey: #1A2323;
$white: #FAFFFF;
$whiter: #FFFFFF;
$black: #000A0A;
$light-green: #CDEAEC;
$green: #003D40;
$grey-2: #CCCECE;
$grey-3: #666C6C;
$grey-4: #4D5454;
$grey-5: #808484;
$grey-6: #333B3B;
$grey-7: #E5E7E7;