$primary: #404976;
$secondary: #2575BB;
$head: #343B5C;
$grey: #5A5A59;
$brown: #BA8827;
$black: #000A0A;
$blue: #BEDCE4;
$blue-2: #1B5588;
$blue-3: #071522;
$light-blue: #E9F3F6;
$light-green: #CDEAEC;
$light-red: #FFF8F7;
$red-1: #FFE9E7;
$green: #003D40;
$grey-2: #E6E6E5;
$grey-3: #D7D7D6;
$grey-4: #FAF9F7;
$grey-5: #F7F8FA;
$grey-6: #9CA5AF;
$grey-7: #E5E7E7;
$grey-8: #EBEBEB;
$grey-9: #D9D9D9;
$neutral: #151718;
$neutral-2: #FBFBFB;