body {
  font-family: 'Moderat', sans-serif;
}
* {
  scrollbar-width: 16px;
  scrollbar-color: #FFF $grey;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: 16px;
  scrollbar-color: #FFF $grey;
}

*::marker {
  display: flex !important;
  align-items: center;
}

/* Works on Chrome/Edge/Safari */
// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   -webkit-overflow-scrolling: touch;
// }
*::-webkit-scrollbar:vertical {
  -moz-width: 0.6em; /* Firefox 2+ */
  -ms-width: 0.6em;
  width: 0.6em;
}
*::-webkit-scrollbar:horizontal {
  height: 1em;
}
*::-webkit-scrollbar-track {
  -moz-background: #FFF; /* Firefox 2+ */
  -ms-background: #FFF;
  background: #FFF;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: $grey;
  border: 3px solid #FFF;
  -moz-border-radius: 1em; /* Firefox 2+ */
  -ms-border-radius: 1em;
  -moz-background-color: $grey; /* Firefox 2+ */
  -ms-background-color: $grey;
  -moz-border: 3px solid #FFF; /* Firefox 2+ */
  -ms-border: 3px solid #FFF;
}
// .router-link-exact-active {
//   color: $primary;
// }
h1, h2, h3, h4, h5, h6, .sora {
  font-family: 'Sora', sans-serif;
}

.clamp {
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
align-self: stretch;
}
.pro {
  background: linear-gradient(110deg, #2970FF 27%, #84ADFF 100%);
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input:-internal-autofill-selected {
  background-color: $grey !important;
}