body {
  font-family: 'Gilroy', sans-serif;
}
* {
  scrollbar-width: 16px;
  scrollbar-color: #FFF $grey;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: 16px;
  scrollbar-color: #FFF $grey;
}

*::marker {
  display: flex !important;
  align-items: center;
}

/* Works on Chrome/Edge/Safari */
// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   -webkit-overflow-scrolling: touch;
// }
*::-webkit-scrollbar:vertical {
  -moz-width: 0.6em; /* Firefox 2+ */
  -ms-width: 0.6em;
  width: 0.6em;
}
*::-webkit-scrollbar:horizontal {
  height: 1em;
}
*::-webkit-scrollbar-track {
  -moz-background: #FFF; /* Firefox 2+ */
  -ms-background: #FFF;
  background: #FFF;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: $grey;
  border: 3px solid #FFF;
  -moz-border-radius: 1em; /* Firefox 2+ */
  -ms-border-radius: 1em;
  -moz-background-color: $grey; /* Firefox 2+ */
  -ms-background-color: $grey;
  -moz-border: 3px solid #FFF; /* Firefox 2+ */
  -ms-border: 3px solid #FFF;
}
// .router-link-exact-active {
//   color: $primary;
// }
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rebond Grotesque', sans-serif;
}
.swiper {
  width: 100%;
  &-3d {
    width: 1210px !important;
  }
  &-slide {
    width: 380px !important;
    font-size: 18px !important;
    line-height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gilroy", sans-serif;
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
  }
  &-cards {
    width: 240px;
    height: 240px;
    & .swiper-slide {
      border-radius: 6px;
      border: 1px solid black;
    }
  }
}