/* The notification itself */
.Vue-Toastification__toast.custom {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.03), 0px 4px 5px rgba(0, 0, 0, 0.04);
  @apply min-w-0 px-6 py-3 border-2 shadow-none select-none rounded-xl text-sm font-normal rounded;
}

/* Success variant of the notification */
.Vue-Toastification__toast--success.custom {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.72),
      rgba(255, 255, 255, 0.72)
    ),
    #198754;
  color: #0e462c;
}

/* etc */
.Vue-Toastification__toast--error.custom {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.72),
      rgba(255, 255, 255, 0.72)
    ),
    #dc3545;
  color: #721c25;
}
.Vue-Toastification__toast--info.custom {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.72),
      rgba(255, 255, 255, 0.72)
    ),
    #0dcaf0;
  color: #07697d;
}

.Vue-Toastification__toast--warning.custom {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.72),
      rgba(255, 255, 255, 0.72)
    ),
    #ffc107;
  color: #856404;
}

/* The icon which i'm replacing with a component vue-material-icons (more on how to do this in the docs) */
.Vue-Toastification__toast.custom .Vue-Toastification__icon {
  @apply h-auto;
}

/* The content - use this to override the default font styling etc */
.Vue-Toastification__toast-body.custom {
  @apply self-center leading-relaxed;
}
